<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Click refresh button to update list -->></h2>
        </div>
        <div class="col-md-6 refresButtonContainer">
            <button type="button" class="btn btn-primary" (click)="onRefresh()">Refresh</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="onLogout()">Logout</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" *ngFor="let post of newsPost">
        <div class="col-md-12">
            <div class="card" *ngIf="!checkIfDeleted(post.postId)">
                <div class="card-header">
                    <b>Title: </b>{{post.title}} 
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Authored By: {{post.author}}</h5>
                    <a href="">Url: {{post.url}}</a><br><br>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <button type="button" class="btn btn-danger" (click)="onDelete(post)">Delete Post</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="markRead(post)">Mark Read</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="markUnread(post)">Mark Unread</button>
                  </div>
                  <div class="card-footer text-muted">
                      Date Published: {{post.datePosted}}
                      Upvotes: {{post.upvotes}}
                      Comments: {{post.commentCount}}
                  </div>
            </div>
            <br>
        </div>
    </div>
</div>
